.folders_wrapper {
  width: 100%;
  list-style-type: none;

  .nothing_found_text {
    padding: 18px 3px 16px 40px;
    color: #D2D1D2;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .list {

    .list_items {
      padding: 18px 25px 16px 40px;
      border-bottom: 1px solid #E8F0FF;
      cursor: pointer;
      display: flex;
      align-items: center;


      &:hover {
        background-color: #E8F0FF;
      }

      .show_more_svg {
        width: 12px;
        height: 7px;
      }

      .folder_icon {
        width: 22px;
        height: 18px;
        margin-right: 15px;
        margin-left: 10px;

        svg {
          width: 100%;
          height: 100%;

          path {
            width: 100%;
            height: 100%;
          }
        }
      }

      .folder_name {
        color: #141414;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .dots_svg_block {
        position: relative;
        margin-left: auto;

        .dots_svg {
          width: 10px;
          height: 18px;
          transition: all .2s;

          svg {
            width: 4px;
            height: 100%;
          }

          &:hover {
            transform: scale(1.27);
            transition: all .2s;

          }
        }
      }
    }

    .active {
      background-color: #E8F0FF;
    }

    .child_list {
      padding: 12px 3px 11px 40px;
    }
  }
}



